
<div class="flex flex-col p-6 gap-4">
  <div class="flex flex-row items-center gap-4 flex-wrap">
    <app-back (nav)="onBack()"/>
    @if (post.hasValue()) {
      <app-title class="font-bold" [content]="post.value().title" [level]="1" />
    }
  </div>
  <div class="flex flex-col flex-wrap sm:px-14 gap-4 w-full">
    @if (post.hasValue()) {
      <div class="flex flex-row gap-12">
        <p>{{ post.value().date | date:"dd/MM/YYYY" }}</p>
        <p>{{ post.value().author }}</p>
        <p>{{ post.value().topicName }}</p>
      </div>
      <p class="text-md">{{ post.value().content }}</p>
      <app-dividers class="w-full"/>
      @if(post.value().comments.length > 0) {
        <div class="flex flex-col gap-4">
          <p>{{ titleComments }}</p>
          <ul class="flex flex-col sm:px-8 gap-4">
            @for (comment of post.value().comments; track comment.content) {
              <li class="flex flex-col gap-2 items-end sm:w-1/2 sm:mx-auto sm:flex-row sm:items-start sm:gap-4">
                <p class="w-28.5 text-end sm:text-start">{{ comment.author }}</p>
                <div class="flex flex-col w-full gap-4 bg-card p-4 rounded-lg h-full">
                  {{ comment.content }}
                </div>
              </li>
            }
          </ul>
        </div>
      }
      <app-error data-test="error" [message]="error()"/>
      <form class="flex flex-row gap-4 sm:px-8 sm:w-1/2 sm:mx-auto" (submit)="onSubmitComment($event)">
        <textarea class="flex-1 border rounded-2xl h-30 p-4" aria-label="Ajouter un commentaire" [formField]="commentForm.content" [placeholder]="placeholderComment"></textarea>
        <button type="submit" class="hover:cursor-pointer">
          <img src="/assets/send.png" alt="Envoyer">
        </button>
      </form>
    } @else if (post.isLoading()) {
      <app-loader data-test="loader"/>
    } @else if (post.error()) {
      <app-error data-test="error" [message]="post.error()?.message"/>
    }
  </div>
</div>


