<div class="flex flex-col p-4 gap-4">
  @if (profile.hasValue()) {
    <app-title class="font-bold" [content]="titleProfilUser" />
    <form (submit)="onSubmit($event)" (focusin)="onFocus()" class="flex flex-col gap-2 w-full lg:w-1/2 2xl:w-1/6 mx-auto p-6">
      <app-input type="text" data-test="name" errorDataTest="error-name"
                 [formField]="profileForm.name" />
      <app-input type="email" data-test="email" errorDataTest="error-email"
                 [formField]="profileForm.email" />
      <app-input type="password" data-test="password" errorDataTest="error-password"
                 [formField]="profileForm.password"
                 [placeholder]="placeholderPassword"/>
      <app-error data-test="error" [message]="error()" />
      <app-button
        type="submit"
        class="self-center"
        [text]="btnSaveProfilUser"
        [disabled]="!profileForm().dirty()"
      />
    </form>
    <app-confirm-password-modal
      [open]="showPasswordModal()"
      (confirm)="onConfirmPassword($event)"
      (cancel)="showPasswordModal.set(false)"
    />
    @if (profile.value().topics.length > 0) {
      <app-dividers class="w-11/12 mx-auto"/>
      <app-title  class="font-bold" [content]="titleSubscription" />
      <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        @for (topic of profile.value().topics; track topic.id) {
          <app-topic-card
            [topic]="topic"
            [btnUnsubscribed]="{ disabled: false, text: btnUnsubscribed }"
            (onClickUnsubscribe)="onUnsubscribe($event)"
          />
        }
      </div>
    }
  } @else if (profile.isLoading()) {
    <app-loader data-test="loader"/>
  } @else if (profile.error()) {
    <app-error data-test="error" [message]="profile.error()?.message"/>
  }
</div>
