<div class="flex flex-col p-6">
  <div class="flex flex-col items-center gap-2 sm:relative sm:flex-row sm:items-center sm:justify-center sm:gap-0">
    <button class="self-start sm:absolute sm:left-0 sm:top-1/2 sm:-translate-y-1/2 hover:cursor-pointer" (click)="onBack()" data-test="btn-back">
      <img src="/assets/arrow-back.png" alt="retour" height="23" width="41">
    </button>
    <app-title class="font-bold" [content]="title" />
  </div>
  <form (submit)="onSubmit($event)" (focusin)="onFocus()" class="flex flex-col gap-2 w-full lg:w-1/2 2xl:w-1/6 mx-auto p-6">
    <select data-test="topic" [formField]="postForm.topicId" class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-primary">
      <option value="" disabled selected>Sélectionner un thème</option>
      @for (topic of topics(); track topic.id) {
        <option [value]="topic.id">{{ topic.title }}</option>
      }
    </select>
    @if (postForm.topicId().touched() && postForm.topicId().invalid()) {
      @for (error of postForm.topicId().errors(); track error) {
        <app-error data-test="error-topic" [message]="error.message"/>
      }
    }
    <app-input type="text" data-test="title" errorDataTest="error-title" [formField]="postForm.title" [placeholder]="titlePlaceholder" />
    <textarea data-test="content" [formField]="postForm.content"
            [placeholder]="contentPlaceholder"
           class="h-50 border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-primary">
    </textarea>
    @if (postForm.content().touched() && postForm.content().invalid()) {
      @for (error of postForm.content().errors(); track error) {
        <app-error data-test="error-content" [message]="error.message"/>
      }
    }
    <app-error data-test="error" [message]="error()"/>
    <app-button
      type="submit"
      class="self-center"
      [text]="btnText"
      [disabled]="!postForm().valid()"/>
  </form>
</div>


