<div class="flex flex-col  py-6 px-4 sm:p-6">
  <div class="flex flex-col items-center gap-2 sm:relative sm:flex-row sm:items-center sm:justify-center sm:gap-0">
    <app-back class="self-start sm:absolute sm:left-0 sm:top-1/2 sm:-translate-y-1/2" (nav)="onBack()"/>
    <app-title class="font-bold" [content]="title" [level]="1" />
  </div>
  <form (submit)="onSubmit($event)" (focusin)="onFocus()" class="flex flex-col gap-4.5 items-center py-8">
    <select data-test="topic" aria-label="Thème" [formField]="postForm.topicId" class="w-62.5 sm:w-70 border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-primary">
      <option value="" disabled selected>{{ selectDefault }}</option>
      @for (topic of topics(); track topic.id) {
        <option [value]="topic.id">{{ topic.title }}</option>
      }
    </select>
    @if (postForm.topicId().touched() && postForm.topicId().invalid()) {
      @for (error of postForm.topicId().errors(); track error) {
        <app-error data-test="error-topic" [message]="error.message"/>
      }
    }
    <app-input class="w-62.5 sm:w-70" type="text" data-test="title" errorDataTest="error-title" ariaLabel="Titre de l'article" [formField]="postForm.title" [placeholder]="titlePlaceholder" />
    <textarea data-test="content" aria-label="Contenu de l'article" [formField]="postForm.content"
            [placeholder]="contentPlaceholder"
           class="w-62.5 sm:w-70 h-50 border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-primary">
    </textarea>
    @if (postForm.content().touched() && postForm.content().invalid()) {
      @for (error of postForm.content().errors(); track error) {
        <app-error data-test="error-content" [message]="error.message"/>
      }
    }
    <app-error data-test="error" [message]="error()"/>
    <app-button
      type="submit"
      class="self-center"
      [text]="btnText"
      [disabled]="!postForm().valid()"/>
  </form>
</div>


