<dialog #dialog class="rounded-md p-6 w-full max-w-sm m-auto backdrop:bg-black/50" (cancel)="onCancel()">
  <form (submit)="onSubmit($event)" class="flex flex-col gap-3">
    <app-title class="font-bold text-lg text-center" [content]="title" />
    <p class="text-sm text-center">{{ description }}</p>
    <app-input type="password" data-test="current-password" errorDataTest="error-current-password"
               [formField]="passwordForm.currentPassword"/>
    <div class="flex justify-center gap-2 mt-2">
      <button type="button" data-test="btn-cancel" (click)="onCancel()"
              class="rounded-md px-4 py-2 font-medium border border-gray-300">{{ cancelText }}</button>
      <app-button
        type="submit"
        data-test="btn-confirm"
        [text]="confirmText"
        [disabled]="!passwordForm().valid()"
      />
    </div>
  </form>
</dialog>
