<dialog #dialog class="rounded-md p-6 w-full max-w-sm m-auto backdrop:bg-black/50" [attr.aria-labelledby]="titleId" (cancel)="onCancel()">
  <form (submit)="onSubmit($event)" class="flex flex-col gap-3">
    <app-title [id]="titleId" class="font-bold text-lg text-center" [content]="title" />
    <p class="text-sm text-center">{{ description }}</p>
    <app-input type="password" data-test="current-password" errorDataTest="error-current-password" ariaLabel="Mot de passe actuel"
               [formField]="passwordForm.currentPassword"/>
    <div class="flex justify-center gap-2 mt-2">
      <app-button
        display="outlined"
        type="button"
        class="bg-white text-primary"
        data-test="btn-cancel"
        [text]="cancelText"
        (click)="onCancel()"
        [disabled]="false"/>
      <app-button
        type="submit"
        data-test="btn-confirm"
        [text]="confirmText"
        [disabled]="!passwordForm().valid()"
      />
    </div>
  </form>
</dialog>
